{% extends 'base.html' %}

{% block content %}
  <!--Products-->
  <div class="container-fluid mt-3">
   <div class="row">

      <!--filter-->
     <div class="col-lg-2">
        <ul class="list-group">
            <b>Filter By:</b><br>
            <a href="/" class="list-group-item list-group-item-action" >All</a>
           {% for cat in cat %}
            <a href="/?category_id={{cat.id}}" class="list-group-item list-group-item-action" >{{cat.name}}</a>
            {% endfor %}
        </ul>
     </div>
     <!--Product-->
     <div id="Products" class="col-lg-10">
       <div class="row mx-auto">
       {% for product in product %}

       <div class="card mx-auto mb-3" style="width: 18rem;">
              <img src="{{product.Image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.Name}}</h5>
                <p class="card-text">{{product.Price}}</p>
                <p class="card-text">{{product.Description}}</p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
              </div>
       </div>
           {% endfor %}
    </div>
     </div>


   </div>

   </div>
{% endblock %}